@charset "UTR-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#46EBC2,#4675EB);
}

p{
    text-align: justify;

}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1751e2bd;
}  
h1{
    color: #46EB8A;
    text-align: center;
    text-shadow: 1px 1px 2px #0e793b;
}
h2{
    color: #77E1EA;
}
